
<% if flash[:my_errors]%>
    <% flash[:my_errors].each do |error|%>
    <p style='color: red;'><%= error %></p><br>
    <% end %>
<% end %>

<%= form_for @studio do |f| %>
    <label>Arist Select: </label>
    <%= f.collection_select :artist_id, @artists, :id, :name %>
    <br />
    <label>Instrument Select: </label>
    <%= f.collection_select :instrument_id, @instruments, :id, :name %>
    <br />
    <%= f.submit %>
<% end %>